{% extends 'index.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/home.css' %}">

<section class="hero py-5 d-flex align-items-center">
  <div class="container my-5 py-5">
    <div class="row d-flex align-items-center justify-content-between">
      <div class="col-lg-6">
        <h3 class="text-white fw-semibold">Fique por dentro</h3>
        <h1 class="text-white display-5 fw-semibold mt-2 mb-3">Informações em tempo real sobre eventos
          climáticos e desastres ambientais</h1>
        <h4 class="mb-4 fw-normal text-white">Receba alertas, veja rotas de evacuação e doe para ajudar pessoas
          afetadas por desastres.</h4>
        <a href="#" id="btn-hero" class="btn btn-primary btn-estilizado btn-lg">Sobre esse projeto</a>
      </div>
      <div class="col-lg-6 text-center d-none d-lg-block">
        <img src="{% static 'imgs/planeta.png' %}" class="img-fluid" alt="planeta">
      </div>
    </div>
  </div>
</section>

<section class="container my-5" id="alertas">
  <div class="d-flex justify-content-between align-items-center mb-2">
    <h2 class="my-title">Alertas</h2>
    <div class="d-flex align-items-center">
      <a href="{% url 'eventos' %}" class="btn btn-outline-secondary">Ver todos</a>
    </div>
  </div>

  <div class="pt-0 pb-3">
    <div class="position-relative">
      <button
        class="btn btn-primary position-absolute start-0 top-50 translate-middle-y d-none d-md-block carousel-prev btn-estilizado btn-redondo"
        data-carousel="alertas">
        &#10094;
      </button>
      <div id="carousel-alertas" class="d-flex gap-3 py-3 position-relative px-md-5 carousel-container"
        style="scroll-behavior: smooth">
        {% for alerta in alertas %}
        <div class="card evento-card">
          <div class="img-card">
            {% if alerta.imagem %}
            <img src="{{ alerta.imagem.url }}" class="img-fluid imagem-card" alt="{{ alerta.nome }}">
            {% else %}
            <img src="{% static alerta.imagem_padrao %}" class="img-fluid imagem-card" alt="{{ alerta.nome }}">
            {% endif %}
          </div>


          <div class="card-body p-4 d-flex flex-column justify-content-between">
            <div class="card-body__text">
              <h5 class="card-title fw-bold text-dark mb-2">{{ alerta.nome }}</h5>
              <p class="card-text text-muted mb-1">{{ alerta.descricao }}</p>
              <p class="card-text text-muted mb-3">Data de início: {{ alerta.data_inicio }}</p>
              {% if alerta.data_fim %}
              <p class="card-text text-muted mb-3">Data de fim: {{ alerta.data_fim }}</p>
              {% endif %}
            </div>

            <!-- Botões de ação -->
            <div class="d-flex gap-2 card-body__buttons">
              <a href="{% url 'evento_detalhe' evento_id=alerta.id %}"
                class="btn btn-outline-primary flex-fill btn-estilizado text-white btn-redondo">
                <i class="fas fa-info-circle me-1"></i>Ver mais
              </a>

              {% if alerta.doar %}
              <a href="#" class="btn btn-danger flex-fill btn-redondo" target="_blank">
                <i class="fas fa-heart me-1"></i>Quero ajudar
              </a>
              {% endif %}
            </div>
          </div>
        </div>

        {% endfor %}
      </div>
      <button
        class="btn btn-primary position-absolute end-0 top-50 translate-middle-y d-none d-md-block carousel-next z-high btn-estilizado btn-redondo"
        data-carousel="alertas">
        &#10095;
      </button>
    </div>
  </div>
</section>

<section class="container my-5 pb-4" id="agora">
  <div class="d-flex justify-content-between align-items-center mb-2">
    <h2 class="my-title">Ocorridos</h2>
    <div class="d-flex align-items-center">
      <a href="{% url 'eventos' %}" class="btn btn-outline-secondary">Ver todos</a>
    </div>
  </div>
  <div class="pt-0 pb-3">
    <div class="position-relative">
      <button
        class="btn btn-primary position-absolute start-0 top-50 translate-middle-y d-none d-md-block carousel-prev btn-estilizado btn-redondo"
        data-carousel="ocorridos">
        &#10094;
      </button>
      <div id="carousel-ocorridos" class="d-flex gap-3 py-3 position-relative px-md-5 carousel-container"
        style="scroll-behavior: smooth">
        {% for alerta in ocorridos %}
        <div class="card evento-card">
          <div class="img-card">
            {% if alerta.imagem %}
            <img src="{{ alerta.imagem.url }}" class="img-fluid imagem-card" alt="{{ alerta.nome }}">
            {% else %}
            <img src="{% static alerta.imagem_padrao %}" class="img-fluid imagem-card" alt="{{ alerta.nome }}">
            {% endif %}
          </div>


          <div class="card-body p-4 d-flex flex-column justify-content-between">
            <div class="card-body__text">
              <h5 class="card-title fw-bold text-dark mb-2">{{ alerta.nome }}</h5>
              <p class="card-text text-muted mb-1">{{ alerta.descricao }}</p>
              <p class="card-text text-muted mb-1">De {{ alerta.data_inicio }}</p>
              {% if alerta.data_fim %}
              <p class="card-text text-muted mb-3">até {{ alerta.data_fim }}</p>
              {% endif %}
            </div>

            <!-- Botões de ação -->
            <div class="d-flex gap-2 card-body__buttons">
              <a href="{% url 'evento_detalhe' evento_id=alerta.id %}"
                class="btn btn-outline-primary flex-fill btn-estilizado text-white btn-redondo">
                <i class="fas fa-info-circle me-1"></i>Ver mais
              </a>
              {% if alerta.doar %}
              <a href="#" class="btn btn-danger flex-fill btn-redondo" target="_blank">
                <i class="fas fa-heart me-1"></i>Quero ajudar
              </a>
              {% endif %}
            </div>
          </div>
        </div>

        {% endfor %}
      </div>
      <button
        class="btn btn-primary position-absolute end-0 top-50 translate-middle-y d-none d-md-block carousel-next z-high btn-estilizado btn-redondo"
        data-carousel="ocorridos">
        &#10095;
      </button>
    </div>
  </div>
</section>

<section class="py-5 bg-cinza">
  <div class="container">
    <div class="row">
      <div class="col">
        <img src="{% static 'imgs/img-evento-climatico-desenho.jpg' %}" class="img-fluid rounded-3" alt="...">
      </div>
      <div class="col-12 col-lg-6">
        <h2>Por que Monitorar Eventos Climáticos?</h2>
        <h5 class="fw-normal">
          As mudanças climáticas intensificaram enchentes, tempestades e secas.
          Acompanhar alertas oficiais ajuda você a:
          <ul>
            <li>Proteger sua família e sua casa</li>
            <li>Planejar rotas seguras em situações de risco</li>
            <li>Entender sinais de emergência antes que seja tarde</li>
          </ul>
          Aqui, centralizamos avisos de órgãos competentes, dicas de segurança e caminhos para
          atuação comunitária em momentos críticos.
        </h5>
      </div>
    </div>
  </div>
</section>

<section class="py-5 bg-azul">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6">
        <h2 class="text-white">Ajude através de doações</h2>
        <h5 class="text-white fw-normal">
          Desastres naturais atingem famílias e comunidades. Sua contribuição pode:
          <ul>
            <li>Fornecer alimentação e abrigo a vítimas</li>
            <li>Arrecadar materiais de primeiros socorros</li>
            <li>Financiar reconstrução de áreas afetadas</li>
          </ul>
          Navegue pelas instituições parceiras e faça sua doação com segurança.
          Cada gesto muda uma vida.
        </h5>

      </div>
      <div class="col">
        <img src="{% static 'imgs/img-evento-climatico-desenho.jpg' %}" class="img-fluid rounded-3" alt="...">
      </div>
    </div>
  </div>
</section>

<section class="container mt-5" id="equipe">
  <h3 class="my-title text-center">Nosso Time</h3>
  <h2 class="text-center my-title mb-4">Equipe de Desenvolvimento</h2>

  <div id="carouselCards" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">

      <div class="carousel-item active">
        <div class="d-flex w-100">
          <div class="carousel-card">
            <div class="card">
              <div class="card-img-container">
                <img
                  src="{% static 'imgs/rodrigo.png' %}"
                  alt="Rodrigo">
              </div>
              <div class="card-body">
                <h4>Rodrigo</h4>
                <p>Rodrigo Froehlich Machado, 22 anos, natural de São Gabriel-RS. Formado em inglês pela FISK, atua como desenvolvedor full stack e cursa Sistemas de Informação na FIAP.</p>
                <div class="social-icons">
                  <a href="#"><i class="fab fa-linkedin-in"></i></a>
                  <a href="#"><i class="fab fa-github"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-card">
            <div class="card">
              <div class="card-img-container">
                <img
                  src="{% static 'imgs/miguel.png' %}"
                  alt="Miguel">
              </div>
              <div class="card-body">
                <h4>Miguel</h4>
                <p>Miguel Kawe Dos Anjos Assis, 18 anos, formado Técnico em Desenvolvimento de Sistemas. Natural e residente de Caçapava-SP, atualmente cursa Sistemas de Informação na FIAP.</p>
                <div class="social-icons">
                  <a href="https://www.linkedin.com/in/miguel-anjoss/"><i class="fab fa-linkedin-in"></i></a>
                  <a href="https://github.com/MiguelAssis0"><i class="fab fa-github"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-card">
            <div class="card">
              <div class="card-img-container">
                <img
                  src="{% static 'imgs/michel.png' %}"
                  alt="Michel">
              </div>
              <div class="card-body">
                <h4>Michel</h4>
                <p>Michel Pereira Dos Santos, 21 anos, residente em São Paulo. Formado em Segurança da Informação pela Fatec SCS, cursa Sistemas de Informação na FIAP e busca se tornar desenvolvedor backend.</p>
                <div class="social-icons">
                  <a href="#"><i class="fab fa-linkedin-in"></i></a>
                  <a href="#"><i class="fab fa-github"></i></a>
                  <a href="#"><i class="fab fa-stack-overflow"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="d-flex w-100">
          <div class="carousel-card">
            <div class="card">
              <div class="card">
                <div class="card-img-container">
                  <img
                    src="{% static 'imgs/gabriel2.png' %}"
                    alt="Gabriel">
                </div>
                <div class="card-body">
                  <h4>Gabriel</h4>
                  <p>Gabriel Vilela Peixoto, 20 anos, formado em Técnico de Informática. Natural de Cajuru-SP, residente em Ribeirão Preto-SP. Atualmente cursa Sistemas de Informação na FIAP.</p>
                  <div class="social-icons">
                    <a href="https://github.com/gabrielvilela12"><i class="fab fa-linkedin-in"></i></a>
                    <a href="https://github.com/gabrielvilela12"><i class="fab fa-github"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-card">
            <div class="card">
              <div class="card-img-container">
                <img
                  src="{% static 'imgs/luis.png' %}"
                  alt="Luis">
              </div>
              <div class="card-body">
                <h4>Luis</h4>
                <p>Luis Gustavo Fernandes Rivalta, 20 anos, natural de Ribeirão Preto-SP e residente em Cajuru-SP. Apaixonado por programação, busca se tornar desenvolvedor FullStack e cursa Sistemas de Informação na FIAP.</p>
                <div class="social-icons">
                  <a href="#"><i class="fab fa-linkedin-in"></i></a>
                  <a href="#"><i class="fab fa-github"></i></a>
                  <a href="#"><i class="fab fa-stack-overflow"></i></a>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <button 
      class="equipe-btn btn btn-primary position-absolute top-50 translate-middle-y d-none d-md-block carousel-next z-high btn-estilizado btn-redondo" 
      type="button" 
      data-bs-target="#carouselCards" 
      data-bs-slide="prev">
       &#10094;
    </button>
    <button 
    class="equipe-btn btn btn-primary position-absolute end-0 top-50 translate-middle-y d-none d-md-block carousel-next z-high btn-estilizado btn-redondo" 
    type="button" 
    data-bs-target="#carouselCards" 
    data-bs-slide="next">
         &#10095;
    </button>
  </div>

  </div>
</section>


<section class="container-fluid bg-blue-2 my-5" id="contato">
  <div class="container py-5">
    <h3 class="my-title text-center">Precisa de ajuda?</h3>
    <h2 class="text-center my-title mb-4">Entre contato com a gente</h2>
    <div class="row mt-5 justify-content-center">
      <div class="col-lg-8">
        <form action="">
          <div class="row text-start">
            <div class="col-12 col-lg-6 my-2">
              <label for="nome" class="form-label">Seu nome</label>
              <input type="text" class="form-control" id="nome" placeholder="Seu nome">
            </div>

            <div class="col-lg-6 my-2">
              <label for="email" class="form-label">Seu email</label>
              <input type="email" class="form-control" id="email" placeholder="Seu nome">
            </div>

            <div class="col-lg-6 my-2">
              <label for="fone" class="form-label">Seu Telefone</label>
              <input type="tel" class="form-control" id="fone" placeholder="(xx) 9999-9999">
            </div>

            <div class="col-lg-6 my-2">
              <label for="mensagem" class="form-label">Assunto</label>
              <input type="text" class="form-control" id="mensagem" placeholder="Assunto">
            </div>

            <div class="col-lg-12 my-2">
              <label for="nome" class="form-label">Mensagem</label>
              <textarea name="mensagem" id="mensagemm" placeholder="Sua mensagem" class="form-control"></textarea>
            </div>

            <div class="col-lg-12 my-2 d-flex justify-content-end">
              <button type="submit" class="btn btn-primary btn-estilizado">Enviar mensagem</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<script src="{% static 'js/home.js' %}"></script>
{% endblock %}