#doacoes{
  padding-top: 100px !important;
}

#verMais{
  width: 30%;
}

#carousel-urgente, #carousel-sugestoes, #carousel-explorar{
  z-index: 0 !important;
}

.btn{
  z-index: 1 !important; 
}

input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

input[type="search"]:focus {
  box-shadow: none;
  border-color: none;
  outline: none;
}

/* Espaçamento para os botões em dispositivos móveis */
@media (max-width: 767px) {
#verMais{
  width: 100%;
}

.carousel-container {
  overflow-x: auto !important;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}

.carousel-container::-webkit-scrollbar {
  display: none;
}
.carousel-container {
  -ms-overflow-style: none; /* IE 10+ */
  scrollbar-width: none; /* Firefox */
}

  .carousel-prev,
  .carousel-next {
    display: none !important;
  }
}